body {
  width: 1340px;
  margin: 0 auto;
  font-family: "OpenSansRegular";
  color: #484c55;
}

body .headhesive {
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 2;
}

body .headhesive--stick {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  max-width: 1340px;
  margin: 0 auto;
}

body .header {
  background-color: #ffffff;
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 30px;
}

body .header .logo {
  display: inline-block;
  float: left;
  padding-left: 70px;
}

body .header .menu {
  display: inline-block;
  float: right;
  margin: 0;
  padding-right: 70px;
}

body .header .menu li {
  display: inline-block;
  padding-bottom: 40px;
  padding-top: 10px;
  border-bottom: 3px solid #fff;
}

body .header .menu li a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  text-decoration: none;
  color: #484c55;
  font-size: 15px;
}

body .header .menu li a:hover {
  color: #49cbcd;
}

body .header .menu li:hover {
  border-bottom: 3px solid #49cbcd;
}

body .header:after {
  content: "";
  clear: both;
  display: block;
}

body .content {
  max-width: 1340px;
}

body .content .section_slide {
  max-width: 1340px;
  position: relative;
}

body .content .section_slide .next, body .content .section_slide .prev {
  display: inline-block;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
}

body .content .section_slide .next {
  right: 40px;
}

body .content .section_slide .prev {
  left: 40px;
}

body .content .section_slide #owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

body .content .section_team {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

body .content .section_team h1 {
  text-align: center;
  padding-bottom: 120px;
  font-size: 42px;
}

body .content .section_team .cards {
  max-width: 1340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

body .content .section_team .cards .card {
  margin: auto;
  display: inline-block;
  -webkit-flex-basis: 310px;
      -ms-flex-preferred-size: 310px;
          flex-basis: 310px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
  padding-left: 10px;
}

body .content .section_team .cards .card .foto {
  background: url("../img/ellipse.png") no-repeat center top;
  height: 201px;
  width: 201px;
  margin: 0 auto;
}

body .content .section_team .cards .card .foto img {
  opacity: 0;
}

body .content .section_team .cards .card .foto img:hover {
  opacity: 1;
  cursor: pointer;
}

body .content .section_team .cards .card h3 {
  font-size: 22px;
}

body .content .section_team .cards .card h4 {
  font-size: 14px;
}

body .content .section_team .cards .card p {
  font-size: 14px;
}

body .content .section_plans {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1f1;
  max-width: 1340px;
}

body .content .section_plans .plan {
  display: inline-block;
}

body .content .section_plans .plan table {
  display: inline-block;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

body .content .section_plans .plan table thead th button {
  font-size: 26px;
  background-color: #485460;
  color: #ffffff;
  width: 370px;
  text-align: center;
  height: 75px;
  border: 1px solid #f1f1f1;
}

body .content .section_plans .plan table thead td {
  font-size: 20px;
  width: 370px;
  height: 70px;
  background-color: #f8f9fb;
}

body .content .section_plans .plan table tbody td {
  color: #8c9299;
  background-color: #ffffff;
  width: 370px;
  height: 45px;
  border: 1px solid #f1f1f1;
}

body .content .section_plans .plan table tfoot td {
  width: 370px;
  height: 100px;
  background-color: #f8f9fb;
}

body .content .section_plans .plan table tfoot td button {
  cursor: pointer;
  background-color: #485460;
  color: #ffffff;
  height: 40px;
  width: 170px;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 17px;
  font-family: "OpenSansSemiBold";
}

body .content .section_contact {
  background-image: url("../img/contact.png");
  height: 688px;
  max-width: 1340px;
}

body .content .section_contact h2 {
  padding-top: 100px;
  color: #ffffff;
  font-size: 42px;
  text-align: center;
  margin-bottom: 100px;
}

body .content .section_contact .contact_text {
  padding-left: 130px;
  width: 450px;
  display: inline-block;
  float: left;
  color: #999999;
}

body .content .section_contact .contact_text h3 {
  color: #ffffff;
  font-size: 24px;
}

body .content .section_contact .contact_text p {
  font-size: 14px;
  color: #969696;
}

body .content .section_contact .contact_text a {
  padding-right: 10px;
}

body .content .section_contact .contact_text .social {
  padding-top: 20px;
  padding-bottom: 10px;
}

body .content .section_contact .contact_text .tel {
  font-family: "MyriadProRegular";
  color: #bface2;
  font-size: 14px;
}

body .content .section_contact .forma {
  display: inline-block;
  padding-top: 20px;
  float: left;
  padding-right: 30px;
  padding-left: 90px;
}

body .content .section_contact .forma form input[name='name'] {
  width: 270px;
  height: 45px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-right: 27px;
}

body .content .section_contact .forma form input[name='email'] {
  width: 270px;
  height: 45px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

body .content .section_contact .forma form textarea {
  padding-top: 10px;
  width: 572px;
  height: 180px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

body .content .section_contact .forma form button {
  cursor: pointer;
  background-color: #49cbcd;
  color: #ffffff;
  width: 170px;
  height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  float: right;
  border: 0;
}
